:root {
  --c-bg: #EAECE9;
  --c-btn: #71A2A3;
  --c-search: #D1DAD9;
  --c-upload: #ff2929;
  --c-text-light: white;
  --c-text-dark: #060606e9;
  --c-text: #5c5b5b;
  --c-shadow: #b6b6b6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
}

.typing {
  color: var(--c-btn);
  position: relative;
}

.typing::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--c-btn);
  position: absolute;
  bottom: 0;
  left: 0;
}

.trending::after {
  content: url("./assets/fires.svg");
  position: absolute;
  top: -15px;
  right: -10px;
  width: 30px;
  animation: fire 3s ease infinite;
}

@keyframes fire {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(30deg) scale(1.1);
  }
  10% {
    transform: rotate(-30deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(0) scale(1);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  color: var(--c-text);
  height: 100%;
  background-color: var(--c-bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  margin-top: 10px;
  height: auto;
}

.navbar .nav {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 15px;
}

.navbar .nav .title {
  font-size: 30px;
}

.navbar .nav .right {
  display: flex;
  width: auto;
  height: auto;
  margin-left: auto;
  gap: 20px;
}

.navbar .nav .right img {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--c-text-light);
  border: solid 1px var(--c-shadow);
  border-radius: 50%;
}

.navbar .form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: auto;
}

.navbar .form .box {
  display: flex;
  align-items: center;
  width: 75%;
  border-radius: 30px;
  height: auto;
  background-color: var(--c-search);
  position: relative;
  padding: 0 15px;
}

.navbar .form .box input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: auto;
  font-weight: 500;
  padding: 10px 15px;
  outline: none;
  font-size: 18px;
}

.navbar .form .search-logo.right {
  width: 40px;
  height: 40px;
  border: solid 1px var(--c-shadow);
  border-radius: 50%;
}

.navbar .form .box .search-logo {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.header .run {
  display: block;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.header .sub-title {
  font-size: 30px;
  margin: 0 20px;
  width: 100%;
  text-align: justify;
}

.header .slide {
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 5px;
  height: auto;
  overflow-x: scroll;
  gap: 20px;
  align-items: center;
}

.header .slide button {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  border: none;
  white-space: nowrap;
  background-color: var(--c-btn);
  position: relative;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  color: var(--c-text-light);
  box-shadow: 5px 5px 10px var(--c-shadow);
}

.header .slide button:nth-child(even){
  background-color: var(--c-text-light);
  color: var(--c-text-dark);
}

.header .slide button:first-child {
  margin-left: 20px;
}

.header .slide button:last-child {
  margin-right: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  background-color: var(--c-btn);
  border-radius: 20px;
  height: 600px !important;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.main .sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  border-radius: 20px;
  overflow-y: scroll;
  height: calc(600px - 20px) !important;
}

.main .sections .book {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 90px;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 10px;
}

.main .sections .book img {
  width: 95px;
  height: 140px;
  object-fit: cover;
  border-radius: 20px;
}

.main .sections .book .sub {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--c-bg);
  margin-top: 5px;
}

.main .sections .book .sub .judul {
  font-size: 15px;
}

.main .sections .book .sub .author {
  opacity: 0.7;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  padding: 0 20px;
  border-radius: 25px;
  height: 50px;
  background-color: var(--c-text-light);
  border: solid 1px var(--c-shadow);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.navigation .native {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.navigation .native p {
  font-size: 13px;
  font-weight: 500;
}

.navigation img {
  width: 25px;
  height: 25px;
  padding: 3px;
  border-radius: 50%;
}

.navigation .native.active img {
  background-color: var(--c-btn);
  color: var(--c-text-light);
}

.navigation .native.upload img {
  width: 40px;
  height: 40px;
  padding: 7px;
  background-color: var(--c-upload);
}

.cover {
  background-image: url("https://www.doakgolf.com/wp-content/uploads/book-na-1.jpg");
  background-position: center;
  background-size: cover;
}

.sections {
  display: block;
  width: 100%;
  height: 100%;
}